*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(179, 132, 44);
    background-image: url("./photo-of-a-cityscape-with-a-ferris-wheel.jpg");
    background-size: cover;
}

.container{
    background-color: rgb(249, 249, 249);
    padding: 2rem;
    border-radius: 1rem;
    width: 50vh;
}

form{
    margin: 2rem 0 1rem 0;
}

form select, input, button{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;

}

form input{
    border:  2px solid lightgrey;
    height: 2rem;
    font-size: 1rem;
    padding-left: 0.5rem;
   
}
.dropdown i{
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.select-container select{
    width: auto;
    font-size: 1rem;
}

.dropdown{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem ;
    margin-bottom: 1rem;
    align-items: center;
}
.select-container img{
    width: 2rem;
}
.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border: 0.5rem;
    border : 1px solid lightgray;
    border-radius: 0.5rem;
}

.msg{
    margin: 2rem 0 1rem 0;
}

form button{
    height: 2rem;
    background-color: purple;
    color: white;
}
.note{
    display: flex;
    justify-content: center;
}